<a href="https://colab.research.google.com/github/DmitryKostin/tinkoff-industry-data-analysis/blob/main/02_python_project/tinkoff_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Генерация данных в Python c помощью модуля random

Для выполнения задания потребуется самому сгенерировать данные с помощью модуля random (все пункты выполняются с помощью нее).

Что необходимо, для создания будущей таблицы:

0) Для генерации данных в random необходимо установить seed = "АДВИ_2023", длина каждого списка N = 1000;

1) index колонка: создать список из N последовательных целых элементов от 1 до 1000 включительно, далее, с помощью специальной функции random перемешать его;

2) groups колонка: создать список из N элементов, состоящий из значений из списка ["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"], необходимо использовать функцию из random которая возвращает список элементов длины k, выбранных из последовательности population с перестановкой элементов;

3) uniform колонка: создать список из N элементов, состоящий из целых значение из равномерного распределения [50, 100] ;

4) **gauss_1, gauss_2, gauss_3** колонки: Создать 3 списка из N элементов каждый, заполненные значениями из нормальных распределений с параметрами:

$\mu$ = 0, $\sigma^2$ = 1 -> третья колонка gauss_1;

$\mu$ = 0, $\sigma^2$ = 144 -> четвертая колонка gauss_2;

$\mu$ = 50, $\sigma^2$ = 81 -> пятая колонка gauss_3;

5) Создать pandas DataFrame, где (1) будет индексом, (2)-(4) колонки, названия колонок ["groups", "uniform", "gauss_1", "gauss_2", "gauss_3"] соответственно, не забывая проверить, что типы колонок должны соответствовать заявленным типам данных;

6) Для колонок gauss_1 и gauss_2 заменить значения на None:

- Для gauss_1, если индекс у значение делится на 121 без остатка;
- Для gauss_2, если дробная часть больше 0.95;

7) Теперь, для пропущенных значений gauss_1 и gauss_2:

- Для gauss_2 None заменить на среднее по колонке;
- Удалить строчки из таблицы, где gauss_1 == None.




Первая строка из таблицы для сверки:

|index|groups|uniform|gauss_1|gauss_2| gauss_3|

|476|группа_1|95|3.010291|2.156346|57.455853|

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
random.seed(a='АДВИ_2023')

## Задание 1

 index колонка: создать список из N последовательных целых элементов от 1 до 1000 включительно, далее, с помощью специальной функции random перемешать его.

In [3]:
index = list(range(1, 1001))

In [4]:
random.shuffle(index)

In [5]:
index[0]

476

## Задание 2

groups колонка: создать список из N элементов, состоящий из значений из списка ["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"], необходимо использовать функцию из random которая возвращает список элементов длины k, выбранных из последовательности population с перестановкой элементов.

In [6]:
population = ["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"]

In [7]:
groups = random.choices(population, k=1000)

In [8]:
groups[0]

'группа_1'

## Задание 3

uniform колонка: создать список из N элементов, состоящий из целых значение из равномерного распределения [50, 100].

In [9]:
uniform = [random.randint(50, 100) for i in range(1000)]

In [10]:
uniform[0]

95

## Задание 4

**gauss_1, gauss_2, gauss_3** колонки: Создать 3 списка из N элементов каждый, заполненные значениями из нормальных распределений с параметрами:

$\mu$ = 0, $\sigma^2$ = 1 -> третья колонка gauss_1;

$\mu$ = 0, $\sigma^2$ = 144 -> четвертая колонка gauss_2;

$\mu$ = 50, $\sigma^2$ = 81 -> пятая колонка gauss_3.

In [11]:
#random.gauss(mu, sigma)

In [12]:
gauss_1 = [random.gauss(0, 1) for i in range(1000)]

In [13]:
gauss_2 = [random.gauss(0, (144) ** 0.5) for j in range(1000)]

In [14]:
gauss_3 = [random.gauss(50, (81) ** 0.5) for k in range(1000)]

In [15]:
gauss_1[0]

3.01029133931237

In [16]:
gauss_2[0]

2.156346051014784

In [17]:
gauss_3[0]

57.45585127992099

## Задание 5

Создать pandas DataFrame, где (1) будет индексом, (2)-(4) колонки, названия колонок ["groups", "uniform", "gauss_1", "gauss_2", "gauss_3"] соответственно, не забывая проверить, что типы колонок должны соответствовать заявленным типам данных.

In [18]:
dct = {'index':index,
       'groups':groups,
       'uniform':uniform,
       'gauss_1':gauss_1,
       'gauss_2':gauss_2,
       'gauss_3':gauss_3}

In [19]:
data = pd.DataFrame(dct).set_index('index')

In [20]:
data

         groups  uniform   gauss_1    gauss_2    gauss_3
index
476    группа_1       95  3.010291   2.156346  57.455851
315    группа_5       77  0.190277  -9.934550  62.694177
490    группа_4       96 -0.282161   9.211071  54.688895
748    группа_3       56  1.127080 -12.391793  30.192353
471    группа_5       52 -1.238270  10.938748  52.682052
...         ...      ...       ...        ...        ...
260    группа_4       57 -1.484164  -5.911598  49.330196
146    группа_4       78 -0.379041  -3.132954  60.329900
972    группа_1       52 -0.857206   0.835715  51.926114
161    группа_1       62 -0.195475   3.496498  66.310250
587    группа_5       60  0.093496  -9.164475  60.897843

[1000 rows x 5 columns]

## Задание 6

Для колонок gauss_1 и gauss_2 заменить значения на None:

- Для gauss_1, если индекс у значение делится на 121 без остатка;
- Для gauss_2, если дробная часть больше 0.95.

In [21]:
target_indexes = list(data.query('gauss_2 > 0 & gauss_2 % 1 > 0.95').index)

In [22]:
#target_indexes = list(data.query('gauss_2 % 1 > 0.95').index)

In [23]:
data.loc[data.index % 121 == 0, 'gauss_1'] = None

In [24]:
data.loc[target_indexes, 'gauss_2'] = None

In [25]:
target_indexes

[737,
 219,
 684,
 352,
 548,
 326,
 874,
 200,
 253,
 128,
 343,
 411,
 643,
 103,
 118,
 793,
 761,
 608,
 356,
 640,
 285,
 812,
 48,
 504,
 361,
 549,
 252,
 63]

In [26]:
data.loc[target_indexes]

         groups  uniform   gauss_1  gauss_2    gauss_3
index
737    группа_5       87 -0.010541      NaN  50.624601
219    группа_1       52  0.154961      NaN  50.096017
684    группа_2       60 -0.016561      NaN  51.411878
352    группа_2       74  0.355524      NaN  43.997174
548    группа_4       76  0.715426      NaN  66.549967
326    группа_3       90  0.987219      NaN  62.547125
874    группа_3      100  1.079882      NaN  44.286319
200    группа_3       73 -1.210269      NaN  40.997252
253    группа_4       64 -0.755386      NaN  51.621738
128    группа_2       68  1.555035      NaN  65.860999
343    группа_4       84  0.075371      NaN  31.577312
411    группа_2       58  0.989985      NaN  54.563815
643    группа_5       72  0.293549      NaN  40.853600
103    группа_2      100  0.337678      NaN  53.895349
118    группа_3       95 -0.984044      NaN  50.936953
793    группа_5       54  0.092742      NaN  56.039274
761    группа_4       60  0.373209      NaN  36.985919
608    группа_4       97 -0.184953      NaN  37.813148
356    группа_4       83  0.067654      NaN  48.493265
640    группа_5       61 -2.018770      NaN  53.927016
285    группа_3       98  2.887286      NaN  48.328939
812    группа_4       69 -1.555637      NaN  49.766096
48     группа_4       67 -1.281717      NaN  34.747781
504    группа_5       56  1.331784      NaN  53.150943
361    группа_3       96 -0.790585      NaN  46.872966
549    группа_5       89  0.246028      NaN  43.040697
252    группа_2       70  1.997171      NaN  64.388899
63     группа_2       69  0.953199      NaN  53.010061

In [27]:
data.query('gauss_2 > 0 & gauss_2 % 1 > 0.95')

Empty DataFrame
Columns: [groups, uniform, gauss_1, gauss_2, gauss_3]
Index: []

## Задание 7

Теперь, для пропущенных значений gauss_1 и gauss_2:

- Для gauss_2 None заменить на среднее по колонке;
- Удалить строчки из таблицы, где gauss_1 == None.

In [28]:
data.loc[data['gauss_2'].isna(), 'gauss_2'] = data['gauss_2'].mean()

In [29]:
list(data[data['gauss_1'].isna()].index)

[121, 847, 484, 726, 605, 242, 968, 363]

In [30]:
rows_to_drop = list(data[data['gauss_1'].isna()].index)

In [31]:
data = data.drop(index=rows_to_drop)

In [32]:
data

         groups  uniform   gauss_1    gauss_2    gauss_3
index
476    группа_1       95  3.010291   2.156346  57.455851
315    группа_5       77  0.190277  -9.934550  62.694177
490    группа_4       96 -0.282161   9.211071  54.688895
748    группа_3       56  1.127080 -12.391793  30.192353
471    группа_5       52 -1.238270  10.938748  52.682052
...         ...      ...       ...        ...        ...
260    группа_4       57 -1.484164  -5.911598  49.330196
146    группа_4       78 -0.379041  -3.132954  60.329900
972    группа_1       52 -0.857206   0.835715  51.926114
161    группа_1       62 -0.195475   3.496498  66.310250
587    группа_5       60  0.093496  -9.164475  60.897843

[992 rows x 5 columns]

## Задания теста

**2 задание**

Для колонки gauss_2 посчитать среднее и среднеквадратическое отклонение.

Результаты необходимо написать в одну ячейку, разделенные пробелом, сначала среднее потом среднеквадратическое отклонение. Результаты округлить до сотых. Для дробной части использовать точку, как разделитель.

In [33]:
data['gauss_2'].mean().round(2)

-0.47

In [34]:
data['gauss_2'].std().round(2)

12.07

**3 задание**

Какая группа встречается чаще всего и сколько раз?

Сначала вывести название группы, через пробел указать целое число.

In [35]:
data['groups'].value_counts()

группа_4    222
группа_1    215
группа_2    194
группа_3    184
группа_5    177
Name: groups, dtype: int64

**4 задание**

Для группа_5 вывести самый "ранний" (наименьший) индекс.

In [36]:
data[data['groups'] == 'группа_5'].sort_values(by='index')

         groups  uniform   gauss_1    gauss_2    gauss_3
index
6      группа_5       64  0.121862 -15.706344  37.264697
7      группа_5       79  0.789998  -1.125028  56.556745
18     группа_5       80  0.390384  -3.111324  57.699977
21     группа_5       95  0.434685   6.883961  40.440062
22     группа_5       70  2.189199 -23.722245  47.054641
...         ...      ...       ...        ...        ...
971    группа_5       80 -0.745116   0.449869  47.499498
978    группа_5       50  0.712819   3.428607  44.329374
989    группа_5       60  0.148515   2.928564  38.729513
997    группа_5       60  0.765711 -16.933376  33.617591
1000   группа_5       55  0.007151   5.734309  59.909507

[177 rows x 5 columns]

**5 задание**

Сколько записей из колонки uniform имеют значение не ниже значения 90% перцентиля?

In [37]:
data

         groups  uniform   gauss_1    gauss_2    gauss_3
index
476    группа_1       95  3.010291   2.156346  57.455851
315    группа_5       77  0.190277  -9.934550  62.694177
490    группа_4       96 -0.282161   9.211071  54.688895
748    группа_3       56  1.127080 -12.391793  30.192353
471    группа_5       52 -1.238270  10.938748  52.682052
...         ...      ...       ...        ...        ...
260    группа_4       57 -1.484164  -5.911598  49.330196
146    группа_4       78 -0.379041  -3.132954  60.329900
972    группа_1       52 -0.857206   0.835715  51.926114
161    группа_1       62 -0.195475   3.496498  66.310250
587    группа_5       60  0.093496  -9.164475  60.897843

[992 rows x 5 columns]

In [38]:
data['uniform'].quantile(0.9) # 90th percentile

94.0

In [39]:
data[data['uniform'] >= data['uniform'].quantile(0.9)]

         groups  uniform   gauss_1    gauss_2    gauss_3
index
476    группа_1       95  3.010291   2.156346  57.455851
490    группа_4       96 -0.282161   9.211071  54.688895
392    группа_4       96 -0.022030 -15.327097  47.695130
655    группа_2      100  0.148248   9.559408  49.953550
984    группа_1       95  0.250564  26.720028  48.241485
...         ...      ...       ...        ...        ...
212    группа_1       98 -1.347081  12.835375  58.932945
466    группа_4       99  0.028367 -13.990673  51.670629
281    группа_5       94 -0.909154 -11.396166  52.202034
286    группа_1       98  0.690832  -5.730558  65.254248
360    группа_2       95 -0.465871  12.704768  63.314157

[118 rows x 5 columns]

**6 задание**

У какой группы наибольшее значение медианы для gauss_3?

Вывести это значение вместе с группой. Сначала группа, через пробел значение медианы (результат округлить до сотых , для дробной части использовать точку, как разделитель)

In [40]:
data.groupby('groups')['gauss_3'].median().round(2).sort_values(ascending=False)

groups
группа_2    49.99
группа_5    49.94
группа_1    49.88
группа_3    49.46
группа_4    49.07
Name: gauss_3, dtype: float64

**7 задание**

У какой группы наибольшее минимальное значение uniform?

Если такого нет, выбрать группу наибольшим минимальным значением в gauss_1.

Ответ дать в виде группы, через пробел указать значение в gauss_2 с аналогичной агрегацией (результат округлить до сотых, для дробной части использовать точку, как разделитель)

In [41]:
data.groupby('groups')['uniform'].min()

groups
группа_1    50
группа_2    50
группа_3    50
группа_4    50
группа_5    50
Name: uniform, dtype: int64

In [42]:
data.groupby('groups')['gauss_1'].min().sort_values()

groups
группа_4   -3.933254
группа_1   -3.628448
группа_2   -2.692705
группа_5   -2.639733
группа_3   -2.606773
Name: gauss_1, dtype: float64

In [43]:
data.groupby('groups')['gauss_2'].min().round(2)

groups
группа_1   -22.11
группа_2   -38.37
группа_3   -36.19
группа_4   -29.90
группа_5   -40.39
Name: gauss_2, dtype: float64

In [44]:
pd.pivot_table(data, index='groups', values=['uniform', 'gauss_1'], aggfunc='min')

           gauss_1  uniform
groups
группа_1 -3.628448       50
группа_2 -2.692705       50
группа_3 -2.606773       50
группа_4 -3.933254       50
группа_5 -2.639733       50

**8 задание**

Создать новую колонку gauss где значения будут получаться из (gauss_1 + gauss_2) / gauss_3

Чему будет равен 70% перцентиль (результат округлить до сотых, для дробной части использовать точку, как разделитель)?

In [45]:
data['gauss'] = (data['gauss_1'] + data['gauss_2']) / data['gauss_3']

In [46]:
data['gauss'].quantile(0.7).round(2)

0.11